* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

#template-section {
    max-width: 100%;
}

#template-section img {
    max-width: 100%;
}